
*{
	margin: 0px;	
	box-sizing: border-box;
}

.footer{
	margin: auto;
	background: darkslategray;
    padding: 30px 5px;
    margin-bottom: -18px;
}

.noclick{
pointer-events: none;
}

.nav{
	margin-top: 48px;
}


.nav ul li{
	display: inline-block;
	margin: 10px 20px;	 
}
.nav ul li a{
	text-decoration: none;
	font-family: 'Roboto Slab', serif;
	font-size: 20px;
	color: #fff;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 1px;
}

footer{
	background: #000000;
    color: #ffffff;
    position: bottom;
    text-align: center;
    z-index: 1;
}
