* {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

section {
  margin: 0px auto;
  width: 500px;
  text-align: center;
}

h2 {
  font-style: italic;
  font-size: 18px;
}

input[type="button"] {
  background-color: beige;
  padding: 12px;
  width: 150px;
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
  margin-bottom: 8px;
}

.error-label {
  padding: 12px;
  text-align: center;
  display: none;
  margin-top: 4px;
  color: red;
}

.field :focus:invalid  {
  border: 1px solid rgba(251, 40, 59, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(251, 40, 59, 0.5);
  outline: initial;
}

.field :focus:valid  {
  border: 1px solid rgba(46, 204, 113, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(46, 204, 113, 0.5);
  outline: initial;
}

label {
  padding: 12px;
  font-weight: bold;
}